engine-strict = true

# Required for eas build to work with pnpm workspace setup...without rnx-kit.
# https://docs.expo.dev/guides/monorepos/#can-i-use-another-monorepo-tool-instead-of-yarn-workspaces
# node-linker=hoisted

# Very helpful:
# https://www.reddit.com/r/expo/comments/1d7jk4a/finally_made_my_expo_project_run_fine_on_my_turbo/

# Needed for development.
public-hoist-pattern[]=react-native-css-interop
public-hoist-pattern[]=@react-navigation/*
public-hoist-pattern[]=@react-native/assets-registry

# Needed during eas-build.
public-hoist-pattern[]=expo-asset
public-hoist-pattern[]=babel-preset-expo
public-hoist-pattern[]=@babel/plugin-transform-react-jsx

# https://github.com/expo/expo/issues/31005
public-hoist-pattern[]=@react-native/gradle-plugin
