#####################################################################################
# Generated
#####################################################################################

## Packages installed by NPM. https://docs.npmjs.com/about-packages-and-modules
node_modules/

## Vitest coverage output. https://vitest.dev/guide/coverage.html
coverage/

## Build outputs.

### Specified by tsconfig.json
dist/
